.profile {
  margin: 36px 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px){
  .profile{
    margin: 40px 15px 0;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    align-self: center;
    justify-content: baseline;
  }
}