.sign__input {
  margin: 0;
  padding: 0 0 13px;
  background-color: #000000;
  border: none;
  border-bottom: 1px solid #cccccc;
  color: #cccccc;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}